{% extends 'scifight/_inside_tournament.html' %}
{% load i18n %}
{% load scifight_url %}
{% load scifight_helpers %}

{% block container_content %}
    <h1>{% trans "Tournament players" %}</h1>
    <br/>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>{% trans "Rank" %}</th>
            <th>{% trans "Score" %}</th>
            <th>{% trans "Full name" %}</th>
            <th class="hidden-xs">{% trans "Team" %}</th>
            <th class="hidden-xs hidden-sm">{% trans "Location" %}</th>
        </tr>
        </thead>

        <tbody>
        {% for player in participants %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ 0.0 | floatformat:2 }}</td>
            <td><a href="{{ player | scifight_url }}">
                {{ player.full_name }}{{ player | captain_flag }}
                </a></td>
            <td class="hidden-xs"><a href="{{ player.team | scifight_url }}">
                {{ player.team }}</a></td>
            <td class="hidden-xs hidden-sm">{{ player.origin | default:'' }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
