{% extends 'scifight/_inside_tournament.html' %}
{% load i18n %}
{% load scifight_url %}

{% block container_content %}
    <h1>{{ team.name }} <span class="label label-info">{% trans "Team" %}</span></h1>
    <p><span class="glyphicon glyphicon-home"></span>
        {{ team.origin }}
    </p>

    <p>{{ team.description }}</p>

    <h2>Leaders</h2>
    <ul>
    {% for leader in team.leader_set.all %}
        <li><a href="{{ leader | scifight_url }}">
            {{ leader.full_name }}</a></li>
    {% endfor %}
    </ul>


    <h2>Players</h2>
    <ul>
        {% for participant in team.participant_set.all %}
            <li><a href="{{ participant | scifight_url }}">
                    {{ participant.full_name }}</a>
                {% if participant.is_captain %}
                    {% trans "(captain)" %}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
